@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    For any Problems:<br />
    <br />
    Eng.Rania Khaled<br />
    <abbr title="email">Email:RaniaKhaled@gmail.com</abbr>
</address>
<address>
    For any Problems:<br />
    <br />
    Eng.Somia Sherif<br />
    <abbr title="email">Email:SomiaSherif@gmail.com</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">RaniaKhaled@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">SomiaSherif@gmail.com</a>
</address>